$mainFontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif
$codeFontFamily: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace


body
  margin: 0
  font-family: $mainFontFamily
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


code
  font-family: $codeFontFamily

