@use '_colors'
@use '_index'

.App
  display: grid
  width: 500px

body
  display: flex
  flex-direction: row
  justify-content: center
  margin-top: 10vmin
  color: colors.$Text


button
  border: none
  outline: none !important